@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #CCCCCC;
  font-size: 12px;
}

h1#docname {
	display:inline-block; 
	margin: 0;
	padding: 0.75em;
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: lighter;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 3;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0.2;
    z-index: 0;
  }
}

header {
  -webkit-animation: fadeOut 0.5s 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: fadeOut 0.5s 1;
  -moz-animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: #888888;
  z-index: 3;
  opacity: 0.2;
}

header:hover {
  -webkit-animation: fadeIn 0.5s 1;
  -moz-animation: fadeIn 0.5s 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
}

#document-text {
  position: absolute;
  width: calc(100% - 740px);
  height: 100%;
  top: calc(10% + 15px);
  left: 0;
  margin: 0 20%;
  background-color: #FFFFFF;
  z-index: 1;
  resize: none;
  outline: none;
  padding: 1in;
  overflow: hidden;
  font-family: 'Times New Roman';
  font-size: 12pt;
  box-shadow: 1px 1px 6px black;
}

.button-group {
	font-family: 'Open Sans';
	background: #FFFFFF;
	padding: 7px;
}

.button {
	display: inline-block;
	text-align: center;
	background: #ccc;
	cursor: pointer;
	border-top: solid 2px #eaeaea;
	border-left: solid 2px #eaeaea;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	padding: 5px 5px;    
	width: 15px;
}

.down {
    background: #bbb;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
}