@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #CCCCCC;
	font-size: 12px;
}

h1#docname {
	display:inline-block; 
	margin: 0;
	padding: 0.75em;
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: lighter;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0.2;
		z-index: 0;
	}
	100% {
		opacity: 1;
		z-index: 3;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
		z-index: 3;
	}
	100% {
		opacity: 0.2;
		z-index: 0;
	}
}

header {
	-webkit-animation: fadeOut 0.5s 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation: fadeOut 0.5s 1;
	-moz-animation-fill-mode: forwards;
	position: fixed;
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	background-color: #888888;
	z-index: 3;
	opacity: 0.2;
}

header:hover {
	-webkit-animation: fadeIn 0.5s 1;
	-moz-animation: fadeIn 0.5s 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
}

#document-text {
	position: absolute;
	width: 60vw;
	height: calc(60vw * 8.5 / 11);
	top: calc(10% + 15px);
	left: 0;
	margin: 0 20vw;
	background-color: #FFFFFF;
	z-index: 1;
	resize: none;
	outline: none;
	padding: 1in;
	overflow: hidden;
	font-family: 'Times New Roman';
	font-size: 12pt;
}

#document-text:focus {
	box-shadow: 1px 1px 6px black;
}

.button-group {
	font-family: 'Open Sans';
	background: #FFFFFF;
	padding: 7px;
}

.button-left {
	display: inline-block;
	text-align: center;
	background: #FFFFFF;
	cursor: pointer;
	padding: 4px;    
	width: 20px;
	border-radius: 5px 0 0 5px;
	border: solid 1px #AAAAAA;
}

.button-center {
	display: inline-block;
	text-align: center;
	background: #FFFFFF;
	cursor: pointer;
	padding: 4px;
	width: 20px;
	border-top: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
}

.button-right {
	display: inline-block;
	text-align: center;
	background: #FFFFFF;
	cursor: pointer;
	padding: 4px;    
	width: 20px;
	border-radius: 0 5px 5px 0;
	border: solid 1px #AAAAAA;
}

.button-group > span:hover {
	color: #009AE1;
}

.pressed {
	padding: 4px;
	background: #CCCCCC;
}

.button-left.pressed, .button-right.pressed {
	border: solid 1px #AAAAAA;
}

.button-center.pressed {
	border-top: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
}
